{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

<h1>About me</h1>

{% block content %}
<i>
    {{ flatpage.content }}
</i>
<p>
        После того как мы скачаем архив с готовыми шаблонами CSS-файлами и т. д., нам надо распаковать его в директорию
        static/ (папку static надо будет создать самостоятельно в той же папке, что и manage.py).
        Из всего нам потребуется только файл index.html и папка css,
        в которой как раз-таки будут лежать наши стили assets и js можно спокойно удалить,
        они нам пока не понадобятся. В assets лежит иконка, а в js — пустой скрипт (так как наша страница статична).
    </p>
<p>
    И в настройках добавить строчку в самом конце, для подгрузки стилей из папки static:
    <i>STATICFILES_DIRS = [
    BASE_DIR / "static"
]</i>
</p>
{% endblock content %}